{% extends 'base.html' %} {% load staticfiles %} 

{% block menu %}
{% include "externalpagesmenu.html" %}
{% endblock menu %}

{% block content %}
<section id="about">
    <div class="inner-block">
        <div class="container">
            <header>
                <h2>About Us</h2>
                <span class="line"></span>
            </header>

            <div class="row intro">
                <div class="col-lg-12">
                    <h3>
                        Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh pleased with the results.
                    </h3>
                </div>
            </div>

            <div class="row text">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p>
                        here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, don't
                        <br>look even slightly believable. If you are going to use a passage of Lorem Ipsum,ed alteration in some form, by injected h necessary.here are mannecessary here are manure there isn't anything embarrassing hidden
                        <br>you need to be sure there isn't anything embarrassing hidden in the middle of text.
                        <br>All the Lorem Ipsum generators on the Internet necessary. here are many variations of passages of Lorem Ipsum available, but the
                        <br>majority have suffered alteration in some form, by injected humour, or randomised
                        <br>words which don't look even slightly believable. If you are going to use a passage of
                        <br>Lorem Ipsum.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p>
                        here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                        <br>don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
                        <br>you need to be sure there isn't anything embarrassing hidden in the middle of text.
                        <br>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary. here are many variations of passages of Lorem Ipsum available, but the
                        <br>majority have suffered alteration in some form, by injected humour, or randomised
                        <br>words which don't look even slightly believable. If you are going to use a passage of
                        <br>Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="inner-block">
        <div class="container">
            <header>
                <h2>Our Team</h2>
                <span class="line"></span>
            </header>

            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 teammate">
                    <img class="img-responsive" src="images/about.png" class="" />
                    <h5>Alejandra Galván Castillo</h5>
                    <p>Creative Director</p>
                    <hr>
                    <p class="description">
                        We are a fairly small, flexible design studio that designs for the web. We work with clients to fulfill their needs.
                    </p>
                    <div class="social">
                        <a href="#">
                            <i class="social tw"></i>
                        </a>
                        <a href="#">
                            <i class="social fb"></i>
                        </a>
                        <a href="#">
                            <i class="social gp"></i>
                        </a>
                        <a href="#">
                            <i class="social pin"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 teammate">
                    <img class="img-responsive" src="images/about.png" class="" />
                    <h5>Alejandra Galván Castillo</h5>
                    <p>Creative Director</p>
                    <hr>
                    <p class="description">
                        We are a fairly small, flexible design studio that designs for the web. We work with clients to fulfill their needs.
                    </p>
                    <div class="social">
                        <a href="#">
                            <i class="social tw"></i>
                        </a>
                        <a href="#">
                            <i class="social fb"></i>
                        </a>
                        <a href="#">
                            <i class="social gp"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 teammate">
                    <img class="img-responsive" src="images/about.png" class="" />
                    <h5>Alejandra Galván Castillo</h5>
                    <p>Creative Director</p>
                    <hr>
                    <p class="description">
                        We are a fairly small, flexible design studio that designs for the web. We work with clients to fulfill their needs.
                    </p>
                    <div class="social">
                        <a href="#">
                            <i class="social tw"></i>
                        </a>
                        <a href="#">
                            <i class="social fb"></i>
                        </a>
                        <a href="#">
                            <i class="social gp"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 teammate">
                    <img class="img-responsive" src="images/about.png" class="" />
                    <h5>Alejandra Galván Castillo</h5>
                    <p>Creative Director</p>
                    <hr>
                    <p class="description">
                        We are a fairly small, flexible design studio that designs for the web. We work with clients to fulfill their needs.
                    </p>
                    <div class="social">
                        <a href="#">
                            <i class="social tw"></i>
                        </a>
                        <a href="#">
                            <i class="social fb"></i>
                        </a>
                        <a href="#">
                            <i class="social gp"></i>
                        </a>
                        <a href="#">
                            <i class="social pin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock content%}
