<section id="comingsoon">
    <div class="container">
        <div class="countdown">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 left">
                    <h1>We are launching very soon...</h1>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.
                    </p>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5 pull-right">
                    <div class="figure">
                        <div class="square">
                            <span>165</span>
                        </div>
                        <label>DAYS</label>
                    </div>
                    <div class="figure">
                        <div class="square">
                            <span>75</span>
                        </div>
                        <label>HOURS</label>
                    </div>
                    <div class="figure">
                        <div class="square">
                            <span>34</span>
                        </div>
                        <label>MINUTES</label>
                    </div>
                    <div class="figure">
                        <div class="square">
                            <span>22</span>
                        </div>
                        <label>SECONDS</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="subscribe">
            <div class="row">
                <form role="form">
                    <div class="form-group col-sm-4 col-md-4 col-lg-4">
                        <input type="email" class="form-control" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-gray">Subscribe</button>
                </form>
            </div>

            <div class="row">
                <div class="follow">
                    <strong>Follow us</strong>
                    <div class="social">
                        <a class="facebook" href="#"><i class="icon-facebook"></i></a>
                        <a class="twitter" href="#"><i class="icon-twitter"></i></a>
                        <a class="pinterest" href="#"><i class="icon-pinterest"></i></a>
                        <a class="linkedin" href="#"><i class="icon-linkedin"></i></a>
                        <a class="gplus" href="#"><i class="icon-google-plus"></i></a>
                        <a class="github" href="#"><i class="icon-github-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
