<section id="portfolio">
    <!-- 3 columns -->
    <div class="inner-block">
        <div class="container">
            <header>
                <h2>Portfolio</h2>
                <p>3 columns</p>
                <span class="line"></span>
            </header>

            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 4 colums -->
    <div class="inner-block">
        <div class="container">
            <header>
                <h2>Portfolio</h2>
                <p>4 columns</p>
                <span class="line"></span>
            </header>

            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="photo">
                        <div class="pic">
                            <a href="#">
                                <img class="pic img-responsive" src="images/thumb_gallery.jpg" alt="">
                                <img class="see_more" src="images/thumb_more.png" />
                            </a>
                        </div>
                        <h3>Maecenas Euismod Elit</h3>
                        <p>There are many variations of passages going to use passage anything.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
